/* line 1, ../../../../Code/Project8/scss/base/_typography.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* line 9, ../../../../Code/Project8/scss/base/_typography.scss */
body {
  position: relative;
  background-color: #EAEBEB;
}

/* line 14, ../../../../Code/Project8/scss/base/_typography.scss */
.gridContainer {
  max-width: 1290px;
  margin: auto;
}

/* ======================================================= */
/*                       Overlay                           */
/* ======================================================= */
/* line 22, ../../../../Code/Project8/scss/base/_typography.scss */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
  height: 110vh;
}

/* ======================================================= */
/*                         Modal                           */
/* ======================================================= */
/* line 35, ../../../../Code/Project8/scss/base/_typography.scss */
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  line-height: 1.6;
}

/* line 47, ../../../../Code/Project8/scss/base/_typography.scss */
.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

/* line 54, ../../../../Code/Project8/scss/base/_typography.scss */
.hidden {
  display: none;
}

/* line 58, ../../../../Code/Project8/scss/base/_typography.scss */
h1 {
  font-size: 2.3rem;
  padding: 15px;
  text-align: center;
}

/* ======================================================= */
/*                         Cards                           */
/* ======================================================= */
/* line 67, ../../../../Code/Project8/scss/base/_typography.scss */
.card {
  display: flex;
  align-items: center;
  line-height: 1.5;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  padding: 15px;
  background-color: #FDFDFD;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  color: #F05656;
}

/* line 78, ../../../../Code/Project8/scss/base/_typography.scss */
.card img {
  border-radius: 50%;
  margin-right: 15px;
}

/* line 82, ../../../../Code/Project8/scss/base/_typography.scss */
.card p {
  color: #b0b5b7;
}

/* line 1, ../../../../Code/Project8/scss/components/_buttons.scss */
.leftArrow,
.rightArrow {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  background-color: #F05656;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
}

/* ======================================================= */
/*                     Employee Search                     */
/* ======================================================= */
/* line 5, ../../../../Code/Project8/scss/components/_forms.scss */
div[class="autocomplete"] {
  text-align: center;
}

/* line 9, ../../../../Code/Project8/scss/components/_forms.scss */
input[id="employee-search"] {
  width: 500px;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto 25px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* line 2, ../../../../Code/Project8/scss/components/_grid.scss */
main {
  display: grid;
}

/* line 6, ../../../../Code/Project8/scss/components/_grid.scss */
.gridContainer {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

/*# sourceMappingURL=style.css.map */