/* ======================================================= */
/*                     Employee Search                     */
/* ======================================================= */

div[class="autocomplete"] {
    text-align: center;
}

input[id="employee-search"] {
    width: 500px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}