* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
main[class="gridContainer"] {
  margin: 15px;
}

body {
  position: relative;
  background-color: #EAEBEB;
}

/* ======================================================= */
/*                       Overlay                           */
/* ======================================================= */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
  height: 110vh;
}

/* ======================================================= */
/*                         Modal                           */
/* ======================================================= */
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  line-height: 1.6;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2rem;
  padding: 15px;
}

/* ======================================================= */
/*                         Cards                           */
/* ======================================================= */
.card { 
  display: flex;
  align-items: center;
  line-height: 1.5;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  padding: 15px;
  background-color: #FDFDFD;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  color: #F05656;
  img {
    border-radius: 50%;
    margin-right: 15px;
  }
  p {
    color: #b0b5b7;
  }
}

